
<div class="center">
    <div class="row">
        <div class="col-md-4 redcol">
            @Html.ActionLink("Division", "Index", "Divisions")
        </div>
        <div class="col-md-4 bluecol">
            @Html.ActionLink("Teams", "Index", "Teams")
        </div>
        <div class="col-md-4 yellcol">
            @Html.ActionLink("Player Roster", "Index", "Players")
        </div>
    </div>
</div>
