<h1>Portland DodgeBall League</h1>

<p>@Html.ActionLink("Division", "Index", "Divisions")</p>
<p>@Html.ActionLink("Teams", "Index", "Teams")</p>
<p>@Html.ActionLink("Player Roster", "Index", "Players")</p>